/* .PopularMovies {
  display: flex;
  overflow: scroll;
} */

.PopularMovies {
  /* min-height: 400px; */

  display: flex;
  overflow: scroll;
}

.moviesOverlay {
  /* background-color: white; */
  /* height: 700px; */
}
