.App {
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.Home {
  height: 100%;
}

/* background-color: #3a2e39; */
/* background-color: #271f26; */
/* background-color: #8cb369; */
/* background-color: #354f52; */
/* background-color: #2f3e46; */
